<app-divider>Elements Page</app-divider>
<app-placeholder [header]='1' [headerlines]="3" [bodylines]="8"></app-placeholder>
<app-divider>Segment Component</app-divider>

<app-segment>
<!--      <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>  -->

    <button class="ui primary button">
        Add Document
    </button>
</app-segment>

<app-segment>
    <header>
       <i class="add icon"></i>
       Here is some text for the second segment
   </header> 

   <button class="ui primary button">
       Add Document
   </button>
</app-segment>